vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|31 Aug 2014 17:32:33 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|31 Aug 2014 17:32:33 -0000
vti_filesize:IR|6426
vti_cachedlinkinfo:VX|Q|font-awesome.min.css S|../img/header-background.jpg
vti_cachedsvcrellinks:VX|FQUS|testing/css/font-awesome.min.css FSUS|testing/img/header-background.jpg
vti_lineageid:SR|{779F8184-C1AA-4FA2-86D6-7C33453576D6}
vti_backlinkinfo:VX|
