vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 Nov 2012 08:18:51 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|21 Nov 2012 08:18:51 -0000
vti_filesize:IR|351
vti_cachedlinkinfo:VX|S|../images/insert.png
vti_cachedsvcrellinks:VX|FSUS|js/DataTables-1.9.4/extras/ColReorder/media/images/insert.png
vti_lineageid:SR|{BD935D0C-C499-49A6-BD4D-D0741C1CD4B6}
vti_backlinkinfo:VX|js/DataTables-1.9.4/extras/ColReorder/theme.html js/DataTables-1.9.4/extras/ColReorder/colvis.html js/DataTables-1.9.4/extras/ColReorder/index.html js/DataTables-1.9.4/extras/ColReorder/predefined.html js/DataTables-1.9.4/extras/ColReorder/reset.html js/DataTables-1.9.4/extras/ColReorder/scrolling.html js/DataTables-1.9.4/extras/ColReorder/col_filter.html js/DataTables-1.9.4/extras/ColReorder/fixedcolumns.html js/DataTables-1.9.4/extras/ColReorder/fixedheader.html js/DataTables-1.9.4/extras/ColReorder/server_side.html js/DataTables-1.9.4/extras/ColReorder/state_save.html js/DataTables-1.9.4/extras/ColReorder/alt_insert.html
