vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 Nov 2012 08:19:29 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|21 Nov 2012 08:19:29 -0000
vti_filesize:IR|5034
vti_cachedlinkinfo:VX|S|../images/arrow.png
vti_cachedsvcrellinks:VX|FSUS|js/DataTables-1.9.4/extras/Scroller/media/docs/media/images/arrow.png
vti_lineageid:SR|{8154D903-E37E-4E34-B2D0-8E2804610FAA}
vti_backlinkinfo:VX|js/DataTables-1.9.4/extras/Scroller/media/docs/c6053fac6b.html js/DataTables-1.9.4/extras/Scroller/media/docs/Scroller.html js/DataTables-1.9.4/extras/Scroller/media/docs/baed189d4a.html js/DataTables-1.9.4/extras/Scroller/media/docs/index.html js/DataTables-1.9.4/extras/Scroller/media/docs/Scroller.oDefaults.html
