vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 Nov 2012 08:19:40 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|21 Nov 2012 08:19:40 -0000
vti_filesize:IR|3656
vti_cachedlinkinfo:VX|S|../images/background.png
vti_cachedsvcrellinks:VX|FSUS|js/DataTables-1.9.4/extras/TableTools/media/images/background.png
vti_lineageid:SR|{DFDEFE43-551D-465E-A573-39072E39EC46}
vti_backlinkinfo:VX|js/DataTables-1.9.4/extras/TableTools/theme.html js/DataTables-1.9.4/extras/TableTools/tabs.html
