vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 Nov 2012 08:19:26 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|21 Nov 2012 08:19:26 -0000
vti_filesize:IR|675
vti_cachedlinkinfo:VX|S|../images/loading-background.png
vti_cachedsvcrellinks:VX|FSUS|js/DataTables-1.9.4/extras/Scroller/media/images/loading-background.png
vti_lineageid:SR|{C6E2BCAA-8448-418F-9EC7-E534575E45EB}
vti_backlinkinfo:VX|js/DataTables-1.9.4/extras/Scroller/api_scrolling.html js/DataTables-1.9.4/extras/Scroller/server-side_processing.html js/DataTables-1.9.4/extras/Scroller/index.html js/DataTables-1.9.4/extras/Scroller/large_js_source.html js/DataTables-1.9.4/extras/Scroller/state_saving.html
