vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|31 Aug 2014 17:32:32 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|31 Aug 2014 17:32:32 -0000
vti_filesize:IR|37134
vti_cachedlinkinfo:VX|Q|http://fonts.googleapis.com/css
vti_cachedsvcrellinks:VX|NQHS|http://fonts.googleapis.com/css
vti_lineageid:SR|{4FEA85BE-6ADE-4BD1-96E6-ECC8616D4D97}
vti_backlinkinfo:VX|
