<div>
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li class="active">Dashboard</li>
    </ul>
</div>
<div class="grid-frame align-center">
    <div class="grid-content">
        <div class="grid-block">
            <div class="grid-content">
                <h4>User Authenticated</h4>
                UID: {{uid}}
                <br/>NAME: {{name}}
                <br/>E-MAIL: {{email}}
                <br/>
                <a ng-click="logout();">Logout</a>
            </div>
        </div>
    </div>
</div>